.form_box {width:100%; font-size: 16px;}

.form_row:first-child {
	padding-top: 0;
}

.form_row:last-child {
	padding-bottom: 0;
}

.form_row {width:100%; padding: 8px 0;}

.form_row:last-child {margin-bottom: 0px;}

.form_sub_row {width: 100%; font-size: 0;}

.form_sub_col {
	vertical-align: middle;
	position: relative;
	text-align: left;
}

.form_sub_row.three_sub_col .form_sub_col {
	width: 31%;
}

.form_row.alignCenter {text-align: center;}


.form_col {margin:15px 0; padding: 0 10px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; *display: inline; zoom:1; vertical-align: top;}

.form_row.sixcol .form_col{width:16.66%;}

.form_row.sixcol.colspan .form_col.cs2{width:33.33%;}
.form_row.sixcol.colspan .form_col.cs3{width:50%;}
.form_row.sixcol.colspan .form_col.cs4{width:66.6%;}
.form_row.sixcol.colspan .form_col.cs5{width:83.3%;}

.form_row.fivecol .form_col{width:20%;}

.form_row.fivecol.colspan .form_col.cs2{width:40%;}
.form_row.fivecol.colspan .form_col.cs3{width:60%;}
.form_row.fivecol.colspan .form_col.cs4{width:80%;}

.form_row.fourcol .form_col{width:25%;}

.form_row.fourcol.colspan .form_col.cs2{width:50%;}
.form_row.fourcol.colspan .form_col.cs3{width:75%;}

.form_row.threecol .form_col{width:33.33%;}
.form_row.threecol.colspan .form_col.cs2{width:66.6%;}

.form_row.twocol .form_col{width:50%;}

.form_row.onecol .form_col{width:100%; padding:0;}

.form_box a {text-decoration: underline; font-weight: bold;}

.form_box label {color:#898989; font-size:16px; text-align: left; -ms-text-justify: none; text-justify: none;}

.form_box textarea {
	padding:10px!important;
}

sup {
	font-size: 14px;
}

.form_box input[type="text"], .form_box input[type="password"], .form_box input[type="email"], .form_box input[type="file"], .form_box textarea, .form_box select {
	color:#898989;
	border:1px #cccccc solid;
	background: #fff;
	height:45px;
	width:100%;
	padding:0px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	transition: all 300ms ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	-webkit-border-radius:10px;
	border-radius:10px;
}


.form_box .label input[type="text"], .form_box .label input[type="password"], .form_box input[type="email"], .form_box .label input[type="file"], .form_box .label textarea, .form_box .label select {
	margin-top: 10px;
}

.form_box .label {
	-ms-text-justify: none; text-justify: none;
	text-align: left;
}

.form_box input[type="text"].big, .form_box input[type="password"].big, .form_box input[type="file"].big, .form_box textarea.big, .form_box select.big {
	height:45px!important;
}


.form_box input[type="text"], .form_box input[type="password"] {
	padding:0 10px;
}

.form_box input[type="text"]:focus, .form_box textarea:focus, .form_box input[type="email"]:focus, .form_box select:focus, .form_box input[type="password"]:focus, .form_box input[type="file"]:focus {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	transition: all 300ms ease;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.form_box input[type="submit"], .form_box input[type="button"], .form_box button{
    -webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	transition: all 300ms ease;
	cursor: pointer;
	border: 0px none;
	color:#fff;
}

.form_box input[type="submit"].square, .form_box button.square{
	-webkit-border-radius: 0;
	border-radius:0;
}

.form_box textarea {resize:none; height:150px;}

.form_section {
	padding: 10px;
	border:1px #cacaca solid;
	-ms-text-justify: none; text-justify: none;
	text-align: left;
	margin:10px 0;
}

.form_section .foLight {
	font-size: 18px;
}

.form_checkbox_item {
	text-align: left;
}

.form_checkbox_item input[type=checkbox]{
	margin-right: 10px;
	display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
}

.form_checkbox_item label {
	display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
}

.captcha_box {
	width: 100%;
	background: #f4f4f4;
	padding: 10px;
}

.captcha_box_img {
	width: 30%;
	vertical-align: middle;
	text-align: center;
}

.captcha_box_img img{
	max-width: 100%;
}

.captcha_code {
	width: 68%!important;
	vertical-align: middle;
}

.alignCenter {
	text-align: center;
}

.checkbox_item {
	text-align: center;
	margin-right: 30px;
}

.checkbox_item label {
	display: block;
}

.checkbox_item input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-top: 20px;
}

.form_row .form_col:first-child {
	padding-left: 0;
}

.form_row .form_col:last-child {
	padding-right: 0;
}

@media only screen and (max-width: 1600px) {

	.form_row.sixcol .form_col{width:33.33%; margin: 15px 0;}

	.form_row.sixcol.colspan .form_col.cs2{width:50%;}
	.form_row.sixcol.colspan .form_col.cs2_s{width:25%;}
	.form_row.sixcol.colspan .form_col.cs1{width:50%;}

	.form_row.sixcol.colspan .form_col.cs3{width:100%;}
	.form_row.sixcol.colspan .form_col.cs3_s{width:33.33%;}

	.form_row.sixcol.colspan .form_col.cs4{width:50%;}
	.form_row.sixcol.colspan .form_col.cs4_s{width:25%;}

	.form_row.sixcol.colspan .form_col.cs5{width:75%;}
	.form_row.sixcol.colspan .form_col.cs5_s{width:25%;}

}

@media only screen and (max-width: 1300px) {

	.form_row.fivecol .form_col{width:33.33%;}
	.form_row.fivecol .form_col:nth-child(4) { width:50%;}
	.form_row.fivecol .form_col:nth-child(5) { width:50%;}

	.form_row.fivecol.colspan .form_col.cs2{width:70%;}
	.form_row.fivecol.colspan .form_col.cs2_s{width:30%;}
	.form_row.fivecol.colspan .form_col.cs1{width:50%;}

	.form_row.fivecol.colspan .form_col.cs3{width:100%;}
	.form_row.fivecol.colspan .form_col.cs3_s{width:50%;}

	.form_row.fivecol.colspan .form_col.cs4{width:70%;}
	.form_row.fivecol.colspan .form_col.cs4_s{width:30%;}

}

@media only screen and (max-width: 1016px) {

	.form_row.sixcol .form_col{width:50%;}

	.form_row.sixcol.colspan .form_col.cs2{width:100%;}
	.form_row.sixcol.colspan .form_col.cs2_s{width:50%;}

	.form_row.fivecol .form_col{width:50%;}
	.form_row.fivecol .form_col:nth-child(1) { width:100%;}
	.form_row.fivecol .form_col:nth-child(3) { width:50%;}

	.form_row.fourcol .form_col{width:50%;}

	.form_row.fourcol.colspan .form_col.cs2{width:100%;}
	.form_row.fourcol.colspan .form_col.cs1{width:50%;}
	.form_row.fourcol.colspan .form_col.cs3{width:75%;}
	.form_row.fourcol.colspan .form_col.cs3_s{width:25%;}

	.form_row.threecol .form_col{width:50%;}
	.form_row.threecol .form_col:nth-child(3) {width:100%;}

	.form_row.threecol.colspan .form_col.cs2{width:66.6%;}
	.form_row.threecol.colspan .form_col.cs2_s{width:33.33%;}

	.form_row.twocol.captcha .form_col{width:66%; margin: 15px 0;}

	.form_row.twocol.captcha .form_col.captcha_img{width:26%;}

}

@media only screen and (max-width: 626px) {

	.form_row.sixcol .form_col{width:100%!important;}

	.form_row.fivecol .form_col{width:100%!important;}

	.form_row.fourcol .form_col, .form_row.onecol .form_col, .form_row.threecol .form_col, .form_row.twocol .form_col{width:100%!important;}

	.form_row.twocol.captcha .form_col{width:96%; text-align:center;}

	.form_row.twocol.captcha .form_col.captcha_img{width:96%;}

	.form_row.threecol .form_col:nth-child(1) {width:100%;}
	.form_row.threecol .form_col:nth-child(2) { width:100%;}

	.captcha_box_img {
		width: 100%;
		vertical-align: middle;
		margin-bottom: 10px;
		text-align: center;
	}

	.captcha_box_img img{
		max-width: 100%;
	}

	.captcha_code {
		width: 100%!important;
		vertical-align: middle;
	}

	.form_box .empty {
		display: none;
	}

	.form_col {
		padding: 0 10px;
	}

}

@media only screen and (max-width: 400px) {

	.form_sub_row.three_sub_col .form_sub_col {
		width: 50%;
	}

	.form_sub_row.three_sub_col .form_sub_col:first-child {
		width: 100%;
		margin-bottom: 10px;
	}

}
